[submodule ".registry"]
	path = .registry
	url = https://github.com/robjhyndman/robjhyndman.r-universe.dev
	branch = HEAD
[submodule "MEFM"]
	path = MEFM
	url = https://github.com/robjhyndman/MEFM-package
[submodule "Mcomp"]
	path = Mcomp
	url = https://github.com/robjhyndman/Mcomp
[submodule "Rsfar"]
	path = Rsfar
	url = https://github.com/haghbinh/sfar
[submodule "TACforecasting"]
	path = TACforecasting
	url = https://github.com/robjhyndman/TACforecasting
[submodule "addb"]
	path = addb
	url = https://github.com/robjhyndman/addb
[submodule "bfast"]
	path = bfast
	url = https://github.com/bfast2/bfast
[submodule "binb"]
	path = binb
	url = https://github.com/eddelbuettel/binb
[submodule "calcal"]
	path = calcal
	url = https://github.com/robjhyndman/calcal
[submodule "compenginets"]
	path = compenginets
	url = https://github.com/robjhyndman/compenginets
[submodule "conduits"]
	path = conduits
	url = https://github.com/PuwasalaG/conduits
[submodule "conformalForecast"]
	path = conformalForecast
	url = https://github.com/xqnwang/conformalForecast
[submodule "cricketdata"]
	path = cricketdata
	url = https://github.com/robjhyndman/cricketdata
[submodule "demography"]
	path = demography
	url = https://github.com/robjhyndman/demography
[submodule "distributional"]
	path = distributional
	url = https://github.com/mitchelloharawild/distributional
[submodule "eechidna"]
	path = eechidna
	url = https://github.com/jforbes14/eechidna
[submodule "expsmooth"]
	path = expsmooth
	url = https://github.com/robjhyndman/expsmooth
[submodule "fable"]
	path = fable
	url = https://github.com/tidyverts/fable
[submodule "fable.binary"]
	path = fable.binary
	url = https://github.com/tidyverts/fable.binary
[submodule "fabletools"]
	path = fabletools
	url = https://github.com/tidyverts/fabletools
[submodule "fasster"]
	path = fasster
	url = https://github.com/mitchelloharawild/fasster
[submodule "feasts"]
	path = feasts
	url = https://github.com/tidyverts/feasts
[submodule "fma"]
	path = fma
	url = https://github.com/robjhyndman/fma
[submodule "forecast"]
	path = forecast
	url = https://github.com/robjhyndman/forecast
[submodule "fpp2"]
	path = fpp2
	url = https://github.com/robjhyndman/fpp2
[submodule "fpp3"]
	path = fpp3
	url = https://github.com/robjhyndman/fpp3
[submodule "gghdr"]
	path = gghdr
	url = https://github.com/Sayani07/gghdr
[submodule "ggplot2"]
	path = ggplot2
	url = https://github.com/tidyverse/ggplot2
	registered = false
[submodule "ggtime"]
	path = ggtime
	url = https://github.com/mitchelloharawild/ggtime
[submodule "gratis"]
	path = gratis
	url = https://github.com/ykang/gratis
[submodule "gravitas"]
	path = gravitas
	url = https://github.com/Sayani07/gravitas
[submodule "hdrcde"]
	path = hdrcde
	url = https://github.com/robjhyndman/hdrcde
[submodule "hts"]
	path = hts
	url = https://github.com/earowang/hts
[submodule "lookout"]
	path = lookout
	url = https://github.com/sevvandi/lookout
[submodule "mixtime"]
	path = mixtime
	url = https://github.com/mitchelloharawild/mixtime
	registered = false
[submodule "monash"]
	path = monash
	url = https://github.com/numbats/monash
[submodule "oddnet"]
	path = oddnet
	url = https://github.com/sevvandi/oddnet
[submodule "oddstream"]
	path = oddstream
	url = https://github.com/pridiltal/oddstream
[submodule "oddwater"]
	path = oddwater
	url = https://github.com/pridiltal/oddwater
[submodule "ozbabynames"]
	path = ozbabynames
	url = https://github.com/robjhyndman/ozbabynames
[submodule "pkgmeta"]
	path = pkgmeta
	url = https://github.com/robjhyndman/pkgmeta
[submodule "rticles"]
	path = rticles
	url = https://github.com/rstudio/rticles
[submodule "seer"]
	path = seer
	url = https://github.com/thiyangt/seer
[submodule "spiderorchid"]
	path = spiderorchid
	url = https://github.com/numbats/spiderorchid
[submodule "stR"]
	path = stR
	url = https://github.com/robjhyndman/stR
[submodule "stray"]
	path = stray
	url = https://github.com/pridiltal/stray
[submodule "sugrrants"]
	path = sugrrants
	url = https://github.com/earowang/sugrrants
[submodule "thief"]
	path = thief
	url = https://github.com/robjhyndman/thief
[submodule "tscompdata"]
	path = tscompdata
	url = https://github.com/robjhyndman/tscompdata
[submodule "tsdl"]
	path = tsdl
	url = https://github.com/FinYang/tsdl
[submodule "tsfeatures"]
	path = tsfeatures
	url = https://github.com/robjhyndman/tsfeatures
[submodule "tsibble"]
	path = tsibble
	url = https://github.com/tidyverts/tsibble
[submodule "tsibbledata"]
	path = tsibbledata
	url = https://github.com/tidyverts/tsibbledata
[submodule "vitae"]
	path = vitae
	url = https://github.com/mitchelloharawild/vitae
[submodule "vital"]
	path = vital
	url = https://github.com/robjhyndman/vital
[submodule "weird"]
	path = weird
	url = https://github.com/robjhyndman/weird
